.alert {
    padding: 6px 30px 6px 8px;
    margin: 5px 10px 5px 0;
}

.back-check{
    padding-bottom: 1em;
}

#back-check-agree {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.day {
    /*display: none;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.day-buttons li{
    list-style: none;
    display: inline-block;
    margin-left: 4.5%;

}

.day-buttons li button{
    width: 5em;
}

.day div.form-inline {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.day hr {
    margin-top: 0;
    margin-bottom: 12px;
}

.day input.form-control {
    width: 130px;
}

.day label {
    width: 44px;
    text-align: right;
}

.day p {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0;
}

fieldset{
    border: 2px solid grey;
    padding: 1.5em;
}

.hidden{
    display:none;
}

h1{
    text-align: center;
}

.inputs{
    margin-bottom: 1.8em;
}

#interests ul {
    list-style: none;
    column-count: 6;
}

legend{
    width:30%;
    text-align: center;
}

#other-section {
    display: none;
}

.p-info-select{
    margin: 0 2.3em;
}

.radio{
    display: inline-block;
    margin-right: 10%;
}

#submitButton {
    margin: 20px 20px 30px 20px;
}

#tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tag-container button {
    padding: 4px 6px 4px 10px;
}

@media screen and (max-width: 574px) {
    .input-style {
        margin-bottom: 1.8em;
    }
}

@media screen and (max-width: 1200px) {
    .day-buttons li{
        list-style: none;
        display: inline-block;
        margin-left: 3.3%;

    }

    .day-buttons li button{
        width: 5em;
    }

    #interests li {
        margin-left: -40px;
    }
}

@media screen and (max-width: 993px) {
    .day-buttons li{
        list-style: none;
        display: inline-block;
        margin-left: 3%;

    }

    .day-buttons li button{
        width: 3.5em;
    }

    #interests ul {
        column-count: 2;
    }

    #interests li {
        margin-left:0;
    }
}

@media screen and (max-width: 765px) {
    .day-buttons li{
        list-style: none;
        display: inline-block;
        margin-left: -.8%;

    }

    .day-buttons li button{
        width: 3.5em;
    }
}

@media screen and (max-width: 540px) {
    .day-buttons li{
        list-style: none;
        display: inline-block;
        margin-bottom: 1%;
    }

    .day-buttons li button{
        width: 4em;
    }

    #interests {
        padding-left: 10px;
        padding-right: 10px;
    }

    #interests li {
        padding-left: 10px;
    }

    #interests ul {
        column-count: 2;
        padding-left: 10px;
    }

    legend{
        width:50%;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .day-buttons{
        margin-left: -17px
    }

    #interests {
        padding-left: 0;

    }

    #interests li {
        padding-left: 1px;
        margin-right: -9px
    }

    #interests ul {
        column-count: 2;
        padding-left: 10px;
    }
}



