/*This CSS is the common theme to all forms*/

fieldset {
    border: thin solid grey;
    padding: 1.5em;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ;
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ;
}

.form-group {
    margin-bottom: 1.8em;
}

legend {
    width:30%;
    text-align: center;
}

/* Error messages */
span.error {
    color: red;
    display: none;
    margin-left: 10px;
    font-size: 17px;
    font-weight: normal;
}

#submit, a[role=button] {
    display: block;
    margin: 30px auto 50px auto;
    border-radius: 0;
}

#submit:hover, a[role=button]:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 540px) {
    legend{
        width:50%;
    }
}