/*This CSS is the common theme to all forms*/

fieldset{
    border: 2px solid grey;
    padding: 1.5em;
}

.form-group {
    margin-bottom: 1.8em;
}

h1 {
    text-align: center;
}

.hidden {
    display:none;
}

legend {
    width:30%;
    text-align: center;
}

span.error{
    color: red;
    margin-left: 10px;
    font-size: 17px;
    font-weight: normal;
}

#submit {
    display: block;
    margin: 30px auto 50px auto;
}

@media screen and (max-width: 540px) {
    legend{
        width:50%;
    }
}