/* This CSS is the general theme for all pages */

/* Background for header */
.banner {
    text-align: center;
    background: url("../images/background.jpg") no-repeat 50% 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-shadow: 1px 1px #818181;

    -webkit-box-shadow: 0 0 100px -53px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 100px -53px rgba(0,0,0,1);
    box-shadow: 0 0 100px -53px rgba(0,0,0,1);
}

/* Background for header option 2 */
.banner2 {
    text-align: center;
    background: url("../images/background2.jpg") no-repeat 50% 35%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-shadow: 1px 1px #818181;

    -webkit-box-shadow: 0 0 100px -53px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 100px -53px rgba(0,0,0,1);
    box-shadow: 0 0 100px -53px rgba(0,0,0,1);
}

.bg-color {
    background-color: #f9f9f9
}

.width {
    width: 65%;
}

.widthLogin {
    width: 35%;
}

body {
    font-family: 'Questrial', sans-serif;
}

h1 {
    text-align: center;
}

.titleColor {
    background-color: #36a0b9;
}

.hidden{
    display: none;
}

@media screen and (max-width: 900px) {
    .widthLogin {
        width: 50%;
    }
}

@media screen and (max-width: 765px) {
    .display-4{
        font-size: 35px;
    }
    .width {
        width: 100%;
    }
    .widthLogin {
        width: 65%;
    }
    h3 {
        font-size: large;
    }
    .h4 {
        font-size: large;
    }
}

@media screen and (max-width: 530px) {
    .widthLogin {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .widthLogin {
        width: 100%;
    }
}